[submodule "Morphs/Importers/Submodules/glTF-SDK"]
	path = Morphs/Importers/Submodules/glTF-SDK
	url = https://github.com/microsoft/glTF-SDK.git
[submodule "Dependencies/vcpkg"]
	path = Dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg.git
